<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="flab.project.sharemyhobby.mapper.hobby.HobbyMapper">

    <resultMap type="HobbyInfo" id="hobbyInfoMap">
        <constructor>
            <idArg column="category_id" javaType="int" />
        </constructor>
        <result property="categoryName" column="category_name" />
        <collection property="hobbies" ofType="Hobby" resultMap="hobbyMap" />
    </resultMap>

    <resultMap id="hobbyMap" type="Hobby">
        <constructor>
            <idArg column="hobby_id" javaType="_int" />
            <arg column="hobby_name" javaType="String" />
        </constructor>
    </resultMap>

    <select id="findAllHobbyInfo" resultMap="hobbyInfoMap">
        SELECT A.id AS category_id, A.category_name, B.id AS hobby_id, B.hobby_name
        FROM category A LEFT JOIN hobby B
        ON A.id = B.category_id
    </select>

    <select id="findHobbyInfoById" resultMap="hobbyInfoMap">
        SELECT A.id AS category_id, A.category_name, B.id AS hobby_id, B.hobby_name
        FROM category A LEFT JOIN hobby B
        ON A.id = B.category_id
        WHERE B.id IN
        <foreach item="hobby" index="index" collection="likeHobbyList" open="(" separator="," close=")">
            #{hobby.hobbyId}
        </foreach>
    </select>

    <insert id="saveLikeHobby" parameterType="list">
        INSERT INTO
            user_like_hobby (user_id, hobby_id, category_id)
        VALUES
        <foreach item="hobby" index="index" collection="likeHobbyList" separator=",">
            (#{userId}, #{hobby.hobbyId}, #{hobby.categoryId})
        </foreach>
    </insert>

</mapper>