<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="flab.project.sharemyhobby.mapper.user.ProfileMapper">

    <resultMap type="Profile" id="profileMap">
        <constructor>
            <idArg column="id" javaType="Long" />
            <arg column="user_id" javaType="Long" />
        </constructor>
        <result property="profileImageUrl" column="profile_image_url" />
        <result property="statusMessage" column="status_message" />
    </resultMap>

    <select id="findByUserId" resultMap="profileMap">
        SELECT
            id,
            user_id,
            profile_image_url,
            status_message
        FROM
            profile
        WHERE
            user_id = #{userId}
    </select>

    <insert id="saveProfile" parameterType="Profile" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO profile (id, user_id, profile_image_url, status_message)
        VALUES(#{id}, #{userId}, #{profileImageUrl}, #{statusMessage})
    </insert>

    <update id="updateProfile" parameterType="Profile">
        UPDATE
            profile
        SET profile_image_url = #{profileImageUrl},
            status_message = #{statusMessage}
        WHERE id = #{id}
    </update>

</mapper>