<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="flab.project.sharemyhobby.mapper.user.UserMapper">

    <insert id="saveUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user(id, email, nickname, password, status, last_login_at, update_at, create_at)
        VALUES(#{id}, #{email.address}, #{nickname}, #{password}, #{status}, #{lastLoginAt}, #{createAt}, #{updateAt})
    </insert>

</mapper>